.App {
  text-align: center;
  /* background-color: #FDFCFA; */
  background-color: black;
  overflow: hidden;
  margin-top: -30px;
}

.App-header > li, a {
  display: inline-block;
  margin: 0 50px;
  padding: 3px;
  list-style: none;
  text-decoration: none;
  /* color: #20d5c2; */
  color: white;
  font-weight: bold;
}

.App-header > li > a:hover {
  /* background: #00bcd4; */
  background-color: white;
  color: black;
}
