.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -140px;
    padding-top: 30px;
}

.logo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    float: left;
    margin-left: 40px;
    animation-name: spinning;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }